

.pacount {

    font-family: poppins;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
}

.main_header_li{
    font-family: inter;
    text-decoration: none;
    font-size: 14.5px;
    color: #000000;
}





.email {
  
    font-family: poppins;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    opacity: 0.6;

}

.navbar-light ul {
    list-style: none;
}

.second_main_header{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.second_main_header .container {
    max-width: 100%;
    padding: 0;
}

.second_main_header .navbar-nav {
    margin-left: auto;
}

.second_main_header .navbar-nav li {
    font-family: inter;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    opacity: 0.6;
}


<!--Third Navbar-->

.third_center_wrapper2{
    background-color: #fff;
    color: #000000;
    margin: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.third_header .third_center_wrapper{
    
    margin: 0 auto;
    display: flex;

}

.third_header .third_center_wrapper .pay_bill{
    font-size: 50px;
    color: #720F11;
    font-family: 'Inter', sans-serif;font-family: inter;
    padding: 10px 30px;
}

.third_header .third_center_wrapper .paybill_logo img{
    height: 100%;
}

.mrsahan{
    text-align: center;
    margin-top: 45px;
}

.total-amount-this-month{
    text-align: center;
    margin-top: 30px;
}


.main-price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-box {
  background-color: #720F11;
  font-family: inter;
  color: #FBE326;
  padding: 6px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 50px;
  font-size: 26px;
  margin: -6px;
}

.red-box2 {
  background-color: #720F11;
  font-family: inter;
  color: #FBE326;
  padding: 6px;
  padding-left: 65px;
  padding-right: 65px;
  border-radius: 50px;
  font-size: 26px;
  margin: -6px;
}




 
 .receipt-container {
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  border: 2px;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: inter;
  margin-top: 20px;
}

.account, .name {
  font-size: 14px;
  margin-bottom: -5px;
  text-align: left;
}

.date {
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -15px;
  margin-bottom: -15px;
  text-align: left;
  font-weight: bold;
}

.item {
  font-size: 16px;
}

.price {
  font-size: 16px;
}

hr {
  border-top: 1px black;
  margin-top: -15px;
  margin-bottom: -15px;
}

.pay-btn-all{
  display: flex;
  justify-content: center;
  align-items: center;

}

.pay-btn {
  background-color: #152232;
  color: white;
  border: none;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  padding-left: 65px;
  padding-right: 65px;
  border-radius: 50px;
  font-size: 26px;
}

.Notoce_box{
    display: flex;
  justify-content: center;
  text-align: center;
  
}

.Notice{
  background-color: #017E1D;
  
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 15px;
  padding-top: 20px;
  font-size: 17px;
  margin: 20px;
  text-align: justify;
}

.Notice p1{
    font-size: 30px;
    align-items: center;
    font-family: inter;

}

<!--New-->
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'poppins',sans-serif;
  margin:0; padding:0;
  box-sizing:border-box;
  //outline:none;
  //border:none;
  //text-transform:capitalized;
  //transition:all .2s linear;
}


/*--------nav bar--------
.main_header_wrapper{
  background-color: #720F11;
  color: #fff;
  font-family: arial;
}

.main_header_wrapper .center_wrapper{
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.main_header_wrapper .center_wrapper .main_logo img{
  width: 40%;
}

.main_header_wrapper .center_wrapper .Right_wrapper{
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: flex-end;

}
.main_header_wrapper .center_wrapper .Right_wrapper ul{
  list-style: none;
  display: flex;
}
.main_header_wrapper .center_wrapper .Right_wrapper ul li a{
  text-decoration: none;
  color: #fff;
  padding: 0 60px;
  font-size: 20px;
}

.second_main_header{
  background-color: #fff;
  color: #000000;
  height: 70px;

}

.second_main_header .second_center_wrapper{
  width: 90%;
  margin: 0 auto;
  display: flex;
  height: 70px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.second_main_header .second_center_wrapper .Account{
  display: flex;
  list-style: none;
  display: flex;
  width: 60%;
}
.second_main_header .second_center_wrapper .Account ul{
  list-style: none;
}
.second_main_header .second_center_wrapper .Account a{
  font-family: poppins;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  opacity: 0.7;

}
.second_main_header .second_center_wrapper .Account c{
  font-family: poppins;
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  opacity: 0.7;

}

.second_main_header .second_center_wrapper .second_right_wrapper{
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: flex-end;


}

.second_main_header .second_center_wrapper .second_right_wrapper ul{
  list-style: none;
  display: flex;
  
}

.second_main_header .second_center_wrapper .second_right_wrapper a{
  font-family: poppins;
  text-decoration: none;
  font-size: auto;
  color: #000000;
  padding: 0 40px;

}







.third_header{
  background-color: #fff;
  color: #000000;
  margin: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.third_header .third_center_wrapper{
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.third_header .third_center_wrapper .pay_bill{
  font-size: 60px;
  color: #720F11;
  font-family: 'Inter', sans-serif;font-family: inter;
  padding: 15px 30px;
}

.third_header .third_center_wrapper .paybill_logo img{
  height: 100%;
}*/

.container1{
  display:flex;
  justify-content:center;
  align-items:center;
  padding:25px;
  min-height:100vh;
  //background:linear-gradient(90deg, #2ecc71 60%, #27ae60 40.1%);
  padding-bottom:70px;
}

.container1 form{
  padding:20px;
  width:700px;
  background:#fff;
  box-shadow:0 5px 10px rgba(0,0,0,1);
}

.container1 form .row1{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container1 form .row1 .col1{
  flex:1 1 250px;
}

.container1 form .row1 .col1 .title1{
  font-size:20px;
  color:#333;
  padding-bottom:5px;
  text-transform:uppercase;
}

.container1 form .row1 .col1 .inputBox1{
  margin:15px 0;
}

.container1 form .row1 .col1 .inputBox1 span{
  margin-bottom:10px;
  display: block;
}

.container1 form .row1 .col1 .inputBox1 input{
  width:100%;
  border:1px solid #ccc;
  padding:10px 15px;
  text-transform:none;
}

.container1 form .row1 .col1 .inputBox1 input:focus{
  border:1px solid #000;
}

.container1 form .row1 .col1 .flex1{
  display:flex;
  gap:15px;
}

.container1 form .row1 .col1 .flex1 .inputBox1{
  margin-top:5px;
}

.container1 form .row1 .col1 .inputBox1 img{
  height:34px;
  margin-top:5px;
  filter: drop-shadow(0 0 1px #000);
}

.container1 form .submit-btn1{
  width:100%;
  padding:12px;
  font-size:17px;
  background:#720F11;
  color:#fff;
  margin-top:10px;
  cursor:pointer;
}

.container1 form .submit-btn1:hover:{
  background:#2ecc71;
}